@import 'config';
@import 'utilities';

body {
	font-family: 'Dosis', sans-serif;
	font-size: $fontsize;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	overflow-x: hidden;
	color: $dark-color;
	background-color: #fff;
}

a {
	text-decoration: none;
	color: $dark-color;
}

ul {
	list-style: none;
	padding: 0;
}

h1,
h2,
h3 {
	text-transform: uppercase;
}

img {
	width: 100%;
}

#logo {
	width: 70px;
	height: 70px;
	text-transform: uppercase;
	color: #fff;
}

#header {
	&-home {
		background-image: url("../images/dest/showcase-2.jpg");
		background-size: cover;
		background-position: center right;
		background-repeat: no-repeat;
		color: #fff;
		height: 100vh;
		position: relative;

		&::before {
			@extend .header-overlay
		}

		.header-content {
			text-align: center;
			padding: 8% 0;

			h1 {
				font-size: 4rem;
				line-height: 1.2;
				text-transform: none;
				font-weight: 500;
			}
		}
	}

	&-inner {
		background-image: url("../images/dest/showcase-2.jpg");
		background-size: cover;
		background-position: 20% 30%;
		background-repeat: no-repeat;
		color: #fff;
		height: 5.5rem;
		position: relative;
		border-bottom: 3px solid $main-color;

		&::before {
			@extend .header-overlay
		}
	}
}

#main-nav {
	display: flex;
	justify-content: space-between;
	padding-top: 1rem;

	ul {
		display: flex;
		margin: 0;
	}

	li {
		padding: 1rem 1.5rem;
	}

	a {
		text-decoration: none;
		color: #fff;
		font-weight: 600;
		text-transform: uppercase;
		border-bottom: 3px solid transparent;
		padding-bottom: 0.5rem;
		transition: border-bottom 0.5s ease;

		&.current {
			border-color: $main-color;
		}

		&:hover {
			border-color: $medium-color;
		}
	}
}

#header-home>*,
#header-inner>* {
	position: relative;
	z-index: 2;
}

.header-overlay {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba($color: #050505, $alpha: 0.6);
}

#home {
	&-a {
		.specials {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 1rem;
			margin-top: 3rem;

			.fas {
				color: $main-color;
			}
		}
	}

	&-b {
		.stats {
			display: grid;
			grid-template-columns: repeat(4, 1fr);


			&-item {
				padding-top: 1rem;

				&:nth-child(odd) {
					background-color: $medium-color;
				}

				&:nth-child(even) {
					background-color: $light-color;
				}
			}

			li {
				line-height: 2;

				&.stats-title {
					font-size: 1.5rem;
				}

				&.stats-number {
					font-size: 2rem;
					font-weight: bold;
				}
			}
		}
	}

	&-c {
		.process {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 1rem;
			text-align: center;

			&-icon {
				position: relative;
				background-color: $dark-color;
				border-radius: 50%;
				color: set-text-color($dark-color);
				padding: 2rem;
				width: 70px;
				height: 70px;
				line-height: 70px;
				text-align: center;
				transition: all 0.5s;

				&:hover {
					width: 90px;
					height: 90px;
					line-height: 90px;
					background-color: $main-color;
					margin-bottom: 0.75rem;

					.process-step {
						background-color: $dark-color;
					}
				}
			}

			&-item {
				display: flex;
				flex-direction: column;
				align-items: center;

				p {
					margin-top: auto;
				}
			}

			&-step {
				font-size: 1.75rem;
				position: absolute;
				left: 0;
				top: 0;
				background-color: $main-color;
				height: 15px;
				width: 15px;
				line-height: 15px;
				border-radius: 50%;
				padding: 1rem;
				transition: all 0.5s;
			}
		}
	}
}

#about {
	&-a {
		.about-info {
			display: grid;
			grid-gap: 1.2rem;
			grid-template-areas:
				"bioimage bio bio"
				"aw1 aw2 aw3";

			.bio {
				border-left: 3px solid $main-color;
				grid-area: bio;
				padding: 0.8rem;

				&-image {
					grid-area: bioimage;
				}

				h4 {
					text-transform: uppercase;
					font-weight: 500;
				}
			}

			.award-1 {
				grid-area: aw1;
			}

			.award-2 {
				grid-area: aw2;
			}

			.award-3 {
				grid-area: aw3;
			}

			.award-1 .fas,
			.award-2 .fas,
			.award-3 .fas {
				color: $main-color;
				margin: 1rem;
			}
		}
	}
	&-b {
		text-transform: uppercase;
		h4 {
			text-align: left;
			margin-bottom: 0.5rem;
		}
		.progress {
			overflow: hidden;
			height: 20px;
			border-radius: 4px;
			background-color: $medium-color;
			> * {
				height: 100%;
				color: #fff;
				text-align: center;
				background-color: $main-color;
			}
		}
	}

	&-c {
		.about-logos {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 2rem;

			img {
				width: 70%;
			}
		}
	}
	&-d {
		.testimonials {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 0.5rem;

			ul {
				list-style-type: none;
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				margin-top: 1rem;
				padding-left: 0.5rem;
			}

			p {
				border: 1px solid $medium-color;
				border-radius: 4px;
				padding: 0.5rem;
		
			}
			img {
				object-fit: cover;
				height: 50px;
				width: 50px;
				border-radius: 50%;
			}
		}
	}
}



#main-footer {
	color: $light-color;
	background-color: $dark-color;

	.footer-content {
		display: flex;
		justify-content: space-between;
		align-items: center;

		p {
			font-size: 1rem;
		}

		.social .fab {
			font-size: 1rem;
			color: $light-color;
			padding: 0.5rem;
			width: 20px;
			height: 20px;
			line-height: 20px;
			margin: 0.5rem;
			text-align: center;
			border: 2px solid #fff;
			border-radius: 50%;
			transition: all 0.3s ease;

			&:hover {
				border-color: $main-color;
				color: $dark-color;
				background-color: $main-color;
			}
		}
	}
}