@import 'config';
@import 'utilities';

body {
	font-family: 'Dosis', sans-serif;
	font-size: $fontsize;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	overflow-x: hidden;
	color: $dark-color;
	background-color: #fff;
}

a {
	text-decoration: none;
	color: $dark-color;
}

ul {
	list-style: none;
}

h1,
h2,
h3 {
	text-transform: uppercase;
}

img {
	width: 100%;
}

#logo {
	width: 70px;
	height: 70px;
	text-transform: uppercase;
	color: #fff;
}

#header {
	&-home {
		background-image: url("../images/dest/showcase-2.jpg");
		background-size: cover;
		background-position: center right;
		background-repeat: no-repeat;
		color: #fff;
		height: 100vh;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
			background-color: rgba($color: #050505, $alpha: 0.6);
		}

		.header-content {
			text-align: center;
			padding: 8% 0;

			h1 {
				font-size: 4rem;
				line-height: 1.2;
				text-transform: none;
				font-weight: 500;
			}
		}
	}
}

#main-nav {
	display: flex;
	justify-content: space-between;
	padding-top: 1rem;

	ul {
		display: flex;
	}

	li {
		padding: 1rem 1.5rem;
	}

	a {
		text-decoration: none;
		color: #fff;
		font-weight: 600;
		text-transform: uppercase;
		border-bottom: 3px solid transparent;
		padding-bottom: 0.5rem;
		transition: border-bottom 0.5s ease;

		&.current {
			border-color: $main-color;
		}

		&:hover {
			border-color: $medium-color;
		}
	}
}

#header-home>* {
	position: relative;
	z-index: 2;
}

.section-title {
	position: relative;
	display: inline-block;

	&::after {
		content: '';
		position: absolute;
		height: 4px;
		width: $line-width;
		bottom: -($line-width / 2);
		transform: translateX(-50%);
		left: 50%;
		background-color: $main-color;
	}
}

#home {
	&-a {
		.specials {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 1rem;
			margin-top: 3rem;

			.fas {
				color: $main-color;
			}
		}
	}

	&-b {
		.stats {
			display: grid;
			grid-template-columns: repeat(4, 1fr);


			&-item {
				padding-top: 1rem;

				&:nth-child(odd) {
					background-color: $medium-color;
				}

				&:nth-child(even) {
					background-color: $light-color;
				}
			}

			li {
				line-height: 2;

				&.stats-title {
					font-size: 1.5rem;
				}

				&.stats-number {
					font-size: 2rem;
					font-weight: bold;
				}
			}
		}
	}
}